
.header {
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

.middle{
    display:inline-block
}

.main_title,
.sub_title{
    margin:0;
}

a:visited {
    color: black;
}

.column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
}

.column.side {
    width: 30%;
}

.column.center {
    width: 70%;
}

ul{
    list-style-type: none;
    padding-left: 0px;
    
}

ul li{
    display: inline;
}
ul a:hover{
    background: green;
    
}
ul a{
    float: left;
    text-decoration-line: none;
    color: black;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 100%;
    margin: 0.5%;
    background : white;
}


table {
    width: 100%;
    border:0;
}

th,
td {
    border: 0;
    text-align: left;
    padding: 8px;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:hover {
    background-color: yellow;
}

.bar {
    background-color: rgb(79, 145, 231);
    color: white;
    border-radius: 5px;
    height: 100%;
}

.footer{
    clear: both;
    margin-top:10px;
    text-align: center;
    background-color: #f2f2f2;
}

